<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    {% if header.description %}
    <meta content="{{ header.description }}" name="description">
    {% else %}
    <meta content="{{ site.description }}" name="description">
    {% endif %}
    {% if header.robots %}
    <meta content="{{ header.robots }}" name="robots">
    {% endif %}

    <link href="{{ theme_url }}/images/favicon.png" rel="icon" type="image/png">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <title>{% if header.title %}{{ header.title }}|{% endif %}{{ site.title }}</title>

    {% block stylesheets %}
      {# Skeleton normalize CSS #}
      {% do assets.add('theme://css/normalize.css',102) %}
      {# Skeleton core CSS #}
      {% do assets.add('theme://css/skeleton.css',101) %}
      {# Custom styles for this theme #}
      {% do assets.add('theme://css/custom.css',100) %}

      {# Nav CSS by David Bushell #}
      <!--[if (gt IE 8) | (IEMobile)]><!-->
      {% do assets.add('theme://css/step1.css',99) %}
      <!--<![endif]-->
      <!--[if (lt IE 9) & (!IEMobile)]>
      {% do assets.add('theme://css/ie.css',98) %}
      <![endif]-->

      {# If awesome icons are necessary #}
      {% do assets.addCss('theme://css/font-awesome.min.css',97) %}

      {{ assets.css() }}
    {% endblock %}

    {% block javascripts %}
      {% do assets.add('https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js', 101) %}

      {# Add browser support. May use Modernizr.com #}
      {% if browser.getBrowser == 'msie' and browser.getVersion >= 8 and browser.getVersion <= 9 %}
        {% do assets.add('https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js') %}
        {% do assets.add('https://oss.maxcdn.com/respond/1.4.2/respond.min.js') %}
      {% endif %}

      {{ assets.js() }}
    {% endblock %}

    {% endblock head %}
  </head>
  <body>
    {# include the header + navigation #}
    {% include 'partials/header.html.twig' %}

    <div class="container">
      {% block content %}{% endblock %}
    </div>

    <div class="container footer">
      <div class="row">
        <div class="twelve columns">
          <p>Skeleton Them for <a href="http://getgrav.org">Grav</a></p>
        </div>
      </div>
    </div>
  </body>
  {% block bottom %}{% endblock %}
<script src="http://localhost:35729/livereload.js"></script>
</html>
